body {
  color: whitesmoke;
}
.jumbotron {
  padding-top: 7rem;
  background-color: rgb(24, 23, 23);
}

#about {
  background-color: #6b6b6b;
}

#project {
  background-color: rgb(0, 0, 0);
}

#contact {
  background-color: #6b6b6b;
}

#project p {
  color: black;
}

footer {
  background-color: #6c757d;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}

footer i {
  color: red;
}

section {
  padding-top: 5rem;
}
